body {
  background-image: url('../images/bg1.jpg');
  display: flex;
flex-direction: column;
justify-content: center;
  align-items: center;
  align-content: center; 
 align-items: center; 
  width: 100%;
  height: 100%;

}

.main{
 /* background-image: url('https://wallpaperaccess.com/full/3804627.jpg'); */
 
}

.bg-pierre{
  background-image: url('https://wallpaperaccess.com/full/3804627.jpg');
 }

.color{
  color:black;
  padding:20px;
}
.color:hover{
  background:grey;
  color:white;
}
header {
  display: flex;
  width: 100%;

  margin-bottom: 10px;
  height: 15vh;
}
.logo{
  border:8px solid white;
  margin: 20px;
  height:80%;
}
nav{
  width:100%;
  display:flex;
  justify-content: center;
  align-items: center;
  
}
ul{
  width:100%;
}

.devisbtn{
  width:250px;
  margin-top: 10px;
}







.nom {
  width: 100%;
  text-align: center;
}

.flexligne {
  display: flex;
 
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
}

.propos {
  padding-left: 5px;
}

/* .bgbleu {

    background: radial-gradient(rgb(153, 205, 253), 60%, rgb(119, 119, 197));
}

.bgbleuclair {
  background: radial-gradient( rgb(183, 183, 212), 60%,  rgb(119, 119, 197));
}
 */
.bg-blanc {
  background-color: rgba(255, 255, 255, 0.70);
}
.gradientbonus {
  background: radial-gradient(rgb(212, 212, 235), 60%, rgb(153, 205, 253) );
}


.bradius-2 {
  border-radius: 20px;
}

.droite {
  display: flex;
  flex-direction: column;
 
}

.gauche {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;


}

.hauteurtw{
  height:50px;
}

.haute {
  display: flex;
  justify-content: center;
flex-direction: column;
  padding: 20px;
}

.basse {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  height: 100%;
}

h1 {
  margin: 0;
  /* background: rgb(230, 247, 223); */
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  width: 100%;

  text-align: center;
}

h2 {
  font-size: 20px;
  text-align:center;
}

h3 {
  font-size: medium;
  text-align: center;
}

.contacter {

 
  line-height: 50px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}

button {
  width: 100px;
  border-radius: 15px;
}

.paragraphe {
  width: 30%;
  padding-right: 20px;
  background:rgb(104, 104, 216);
}

.centrer {
  text-align: center;
}

.directeur {
  height: auto;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  margin-top: 20px;
}
.boutons{
  display:flex;
  justify-content: space-around;
}

.lesavis {
  display: flex;
   justify-content:space-between;
}
 

.carte {
display:flex;
justify-content: center;
}

/* *** Cyril *********/
.bred {
  border: 2px solid red
}

.loginform{
  display:flex;
  justify-content: space-around;
  flex-direction: column;
  width:40%;
  height:100%;
  padding:20px;
  background:linear-gradient(white,rgb(28, 129, 175))

}

.loginimg{
  width:55%;
  height:100%;
}

.container{
 width:100vw;
 height:80vh;
 margin:50px;

}

.tw{
  font-size: 20px;
}

.gradientwall {
  background: linear-gradient(-45deg,  
  rgb(202, 201, 201), rgb(168, 167, 167) );
  background-size: 400% 400%;
  -webkit-animation: gradientBG 5s ease infinite;
          animation: gradientBG 5s ease infinite;
}

.gradient {
  background: linear-gradient(-45deg,  
  rgba(255, 255, 255, 0.5), rgba(200, 200, 200, 0.5) );
  background-size: 400% 400%;
  -webkit-animation: gradientBG 3s ease infinite;
          animation: gradientBG 3s ease infinite;
}

@keyframes gradientBG {
  0% {
  background-position: 0% 50%;
  }
  50% {
  background-position: 100% 50%;
  }
  100% {
  background-position: 0% 50%;
  }
 }


@media (max-width: 995px) {
.container{
  flex-direction:column !important;
}
.loginform{

  flex-direction: column;
 
}

.loginimg{
  width:90%;
  height:100%;
}
}