
{{ form_start(form) }}


    <h3>Formulaire</h3>
    <ul class="tags">
        {% for tag in form.tags %}
            <li class="p-1">{{ form_row(tag.name, { 'label': tag.name.vars.value ~ " : "  }) }} </li>
            
            
        {% endfor %}
    </ul>
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
