{% extends 'base.html.twig' %}

{% block title %}ACF: Admin{% endblock %}

{% block body %}

    {% block stylesheets %}
        <link rel="stylesheet" href='./css/style.css' />
    {% endblock %}

    {% include 'header_admin.html.twig'%}
    
    <style>
        img {
            max-width : 100px;
            max-height: 100px;
        }
    </style>

    <main class="bg-pierre">

        <h1 id="H1-Admin" class="text-center bg-blanc">Espace Admin</h1>
         
        <div class="row m-2 p-2 bg-blanc"> 
            <?php 
            $tableau = [1,2,3,4,5, 6, 7, 8, 9];
            foreach ($tableau as &$menuAdmin) {
                ?>
                
                <div class="col border border-danger p-3 m-5">

                    <img class="fit-picture"
                        src="https://cdn.discordapp.com/attachments/905880440768966718/953275221832523846/U7NQ7x0bdAY8cAAAAAAAAAAAARPMvWqd4ise4zEIAAAAASUVORK5CYII.png"
                        alt="Image Menu Admin">
                        
                        <a href="https://www.mozilla.org/fr/"> <?php echo($menuAdmin . "coucou") ?></a>
                        
                        <p> Prospect </p> 
                </div>

                <div class="col border border-danger p-3 m-5">

                    <img class="fit-picture"
                        src="https://cdn.discordapp.com/attachments/905880440768966718/953275221832523846/U7NQ7x0bdAY8cAAAAAAAAAAAARPMvWqd4ise4zEIAAAAASUVORK5CYII.png"
                        alt="Image Menu Admin">
                        
                        <a href="https://www.mozilla.org/fr/"> <?php echo($menuAdmin . "coucou") ?></a>
                        
                        <p> Message </p> 
                </div>

                <div class="col border border-danger p-3 m-5">

                    <img class="fit-picture"
                        src="https://cdn.discordapp.com/attachments/905880440768966718/953275221832523846/U7NQ7x0bdAY8cAAAAAAAAAAAARPMvWqd4ise4zEIAAAAASUVORK5CYII.png"
                        alt="Image Menu Admin">
                        
                        <a href="https://www.mozilla.org/fr/"> <?php echo($menuAdmin . "coucou") ?></a>
                        
                        <p> Rendez Vous </p> 
                </div> 

                <div class="col border border-danger p-3 m-5">

                    <img class="fit-picture"
                        src="https://cdn.discordapp.com/attachments/905880440768966718/953275221832523846/U7NQ7x0bdAY8cAAAAAAAAAAAARPMvWqd4ise4zEIAAAAASUVORK5CYII.png"
                        alt="Image Menu Admin">
                        
                        <a href="https://www.mozilla.org/fr/"> <?php echo($menuAdmin . "coucou") ?></a>
                        
                        <p> Autre Menu Admin </p> 
                </div>

                <?php
            } 
            ?>  
        </div>


    <div class="border m-2 p-2 bg-blanc">
        <h2 id="H2-Prospect">Prospect index</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>AddresseIP</th>
                    <th>Mail</th>
                    <th>Telephone</th>
                    <th>FirstConnexion</th>
                    <th>LastConnexion</th>
                    <th>Nom</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for prospect in prospects %}
                <tr>
                    <td>{{ prospect.id }}</td>
                    <td>{{ prospect.addresseIP }}</td>
                    <td>{{ prospect.mail }}</td>
                    <td>{{ prospect.telephone }}</td>
                    <td>{{ prospect.firstConnexion ? prospect.firstConnexion|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ prospect.lastConnexion ? prospect.lastConnexion|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ prospect.nom }}</td>
                    <td>
                        <a href="{{ path('app_prospect_show', {'id': prospect.id}) }}">show</a>
                        <a href="{{ path('app_prospect_edit', {'id': prospect.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    
        <a href="{{ path('app_prospect_new') }}">Create new</a>
        <a href="#Top-HeaderAdmin"> <h3>Top</h3> </a>


    </div>

    <div class="border m-2 p-2 bg-blanc">
        <h2 id="H2-Message">Message index</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom de l'auteur</th>
                  
                    <th>Contenu</th>
                    <th>DateEnvoi</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
            {% for message in messages %}
                <tr>
                    <td>{{ message.id }}</td>
                    <td><a href="http://localhost:8000/prospect/{{message.idProspect.id}}">  {{message.idProspect.nom}} </a> {{message.idProspect.id}} </td>
                    
                    <td>{{ message.contenu }}</td>
                
                    <td>{{ message.dateEnvoi ? message.dateEnvoi|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('app_message_show', {'id': message.id}) }}">show</a>
                        <a href="{{ path('app_message_edit', {'id': message.id}) }}">edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_message_new') }}">Create new</a>
        <a href="#Top-HeaderAdmin"> <h3>Top</h3> </a>

    </div>

    <div class="border m-2 p-2 bg-blanc">
        <h2 id="H2-RendezVous">Rendez Vous</h2>
        <p> A faire </p>
        <a href="#Top-HeaderAdmin"> <h3>Top</h3> </a>
    </div>

    <div class="border m-2 p-2 bg-blanc">
        <h2 id="H2-AutresMenu">Autres menu admin</h2>
        <p> A faire </p>
        <a href="#Top-HeaderAdmin"> <h3>Top</h3> </a>
    </div>

    </main>


  

</body>
</html>
{% endblock %}
