{% extends 'base.html.twig' %}

{% block title %}ACF: Contact{% endblock %}

{% block body %}


    {% block stylesheets %}
        <link rel="stylesheet" href='./css/style.css' />
    {% endblock %}

    {% include 'header.html.twig'%}

    <main>

        <h1 class="text-center m-1 p-1 bgbleu">Contact & plan d'accès</h1>

        <div class = "text-center row p-1 m-1" >
            
            <div class="col m-1 p-1 bgbleu bradius-2">
                <p>Bat. INESS - 2eme étage Bureau n°13 </p>
                <p>30 rue POMPIDOR - 11 100 Narbonne France </p>
                <p>audecourtageetfinance@gmail.com</p>
                <p>+33.06.98.35.90.00</p>
            </div>

            <div class="col m-1 p-1 bgbleu bradius-2">
                <p>Ouvert du lundi au vendredi de 9h à midi et de 14 à 19h</p>
                <p>Fermé le samedi et le dimanche</p>
            </div>
        </div>

        <div class = "text-center row p-1 m-1">
            <div class="col m-1 p-1 bgbleu bradius-2">
                <div>  {{ include('./task/new.html.twig') }} </div>
            </div>

            <div class="col m-1 p-2 bgbleu bradius-2">
                <iframe
                        src="https://www.google.com/maps/embed?pb=!1m24!1m8!1m3!1d2909.294170636795!2d2.9767065154825367!3d43.18233802914027!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x12b1ac52df463bb5%3A0x772c6d64550a4c45!2s30!3m2!1d43.181828499999995!2d2.9785714!4m5!1s0x12b1ac52eda783b9%3A0x6be966a92153c577!2sAvenue%20du%20Dr%20Paul%20Pompidor%2C%2011100%20Narbonne!3m2!1d43.182847599999995!2d2.979219!5e0!3m2!1sfr!2sfr!4v1647342146855!5m2!1sfr!2sfr"
                        width="400" height="300" style="border: 0" allowfullscreen="" loading="lazy">
                </iframe>
            </div>
        </div>
        
    </main>


    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


{% endblock %}
