{% extends 'base.html.twig' %}

{% block title %}Prospect index{% endblock %}

{% block body %}
    <h1>Prospect index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>AddresseIP</th>
                <th>Mail</th>
                <th>Telephone</th>
                <th>FirstConnexion</th>
                <th>LastConnexion</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for prospect in prospects %}
            <tr>
                <td>{{ prospect.id }}</td>
                <td>{{ prospect.addresseIP }}</td>
                <td>{{ prospect.mail }}</td>
                <td>{{ prospect.telephone }}</td>
                <td>{{ prospect.firstConnexion ? prospect.firstConnexion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ prospect.lastConnexion ? prospect.lastConnexion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ prospect.nom }}</td>
                <td>
                    <a href="{{ path('app_prospect_show', {'id': prospect.id}) }}">show</a>
                    <a href="{{ path('app_prospect_edit', {'id': prospect.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_prospect_new') }}">Create new</a>
{% endblock %}
