{% extends 'base.html.twig' %}

{% block title %}Prospect{% endblock %}

{% block body %}
    <h1>Prospect</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ prospect.id }}</td>
            </tr>
            <tr>
                <th>AddresseIP</th>
                <td>{{ prospect.addresseIP }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ prospect.mail }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ prospect.telephone }}</td>
            </tr>
            <tr>
                <th>FirstConnexion</th>
                <td>{{ prospect.firstConnexion ? prospect.firstConnexion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>LastConnexion</th>
                <td>{{ prospect.lastConnexion ? prospect.lastConnexion|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ prospect.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_prospect_index') }}">back to list</a>

    <a href="{{ path('app_prospect_edit', {'id': prospect.id}) }}">edit</a>

    {{ include('prospect/_delete_form.html.twig') }}
{% endblock %}
