                   
<header id="Top-HeaderAdmin" class = "bg-pierre">
    <nav>   
        <img class="logo" src="./images/logo.jpg" alt="logo" />
        <ul class="nav justify-content-end navcolor" >
            <a class="nav-link active color" href="#H2-Prospect"><li >Prospect</li></a>
            <a class="nav-link active color" href="#H2-Message"><li class='nav-item'>Message</li></a>
            <a class="nav-link active color" href="#H2-RendezVous"><li class='nav-item'>Rendez Vous</li></a>
            <a class="nav-link active color" href="#H2-AutresMenu"><li class='nav-item'>Autre ...</li></a>
            <a class="nav-link active color" href='{{ url('app_logout') }}'><li class='nav-item'>Deconnexion</li></a>
        </ul>         
    </nav> 
</header>
        