                   
    <header class = "">
  
    

        <nav>   
         <img class="logo" src="./images/logo.jpg" alt="logo" />
            <ul class="nav justify-content-end navcolor" >
                <a class="nav-link active color" href='{{ url('app_index') }}'><li >Accueil</li></a>
                <a  class="nav-link active color"href=""><li class='nav-item'>Prendre RDV</li></a>
                <a class="nav-link active color" href=""><li class='nav-item'>Devis</li></a>
                <a class="nav-link active color" href=""><li  class='nav-item'>Notre Entreprise</li></a>
                <a class="nav-link active color" href='{{ url('app_contact') }}'><li class='nav-item'>Nous contacter</li></a>
                <a class="nav-link active color" href='{{ url('app_login') }}'><li class='nav-item'>Se connecter</li></a>
            </ul>
         
        </nav> 
   
    </header>
        