body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  header {
    display: flex;
    width: 100%;
    background: rgb(178, 235, 124);
    margin-bottom: 10px;
  }
  nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .logo {
    width: 100px;
  }
  
  
  ul {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  
  li {
    list-style-type: none;
  }
  
  
  a {
    text-decoration: none;
  }
  
  .nom {
    width: 100%;
  }
  .flexligne {
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .presentation {
    display: flex;
  }
  
  .flex {
    display: flex;
  }
  
  .propos {
    padding-left: 5px;
  }
  .droite {
    display: flex;
    flex-direction: column;
    background: rgb(183, 236, 183);
    width: 48%;
    height: 600px;
    border-radius: 20px;
  }
  .gauche {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 48%;
    height: 600px;
    background: rgb(175, 223, 170);
    border-radius: 20px;
  }
  .haute {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .basse {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  h1 {
    margin: 0;
    background: rgb(230, 247, 223);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
  
    text-align: center;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h3 {
    font-size: medium;
    text-align: center;
  }
  
  .contacter {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
    line-height: 50px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
  }
  
  button {
    width: 100px;
    border-radius: 15px;
  }
  
  .paragraphe {
    width: 30%;
    padding-right: 20px;
  }
  
  .centrer {
    text-align: center;
  }
  
  .directeur {
    height: auto;
    width: auto;
  }
  section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 20px;
  }
  .avisuser {
    width: 150px;
    height: 300px;
    padding: 6px;
  }
  
  .lesavis {
    display: flex;
    justify-content: space-between;
  }
  
  .carte {
    margin-left: 10px;
    margin-right: 10px;
  }
  