/* Temporaire *** Eliminer ***********/

* {
  border: 2px solid red;
}

.colonne {
  display: flex;
  flex-direction: column;
}

.img-big {
  min-width: 150px;
  max-width: 250px;
  display: flex;
  flex: 1;
  margin: 10px;
}

.img-medium {
  height: 140px;
  width: 160px;
  object-fit: contain;
}

.img-small {
  height: 100px;
  width: 110px;
  object-fit: contain;
}
